<br>
<div id="cover_photo">
  <h1 id="cover_title"> Magic Traffic </h1>
</div>

<br>
<br>

<section class="form-container">
  <h4 id="newpost">New Post</h4>
  <form action="/post" method="POST" class="post-form">
    <p class="input-field">
      <textarea name="content" cols="70%" rows="3" placeholder="Message"></textarea>
    </p>
    <p class="input-field">
      <input type="submit" value="Post" class="btn">
    </p>
  </form>
</section>

{{#each posts}}
<div class="posts">
    <a href="/post/{{id}}">{{content}}</a>
    <br>
    <br>
    <form method="POST" action="/post/{{id}}?_method=PUT">
      Update:<input type="text" name="content">
      <input type="submit"value="Submit" class="btn">
    </form>
    <a href="/"><button class="btn">Delete</button></a>
    
    <!--     <br><br> {{author.local.email}} -->
</div>
{{/each}}
<!-- 
{{#if currentUser}}
<div class="card">
  <div class="card-content">
    <h4 class="card-title">Add a comment:</h6>
    <form method="POST" action="/post/{{id}}?_method=PUT" class="row">
      <p class="input-field inline col s10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }} -->

